[user]
	name = Justin Tan
	email = raineedust@proton.me
[core]
	autocrlf = input
	eol = lf
	excludesfile = ~/.gitignore_global
[push]
	autoSetupRemote = true
[safe]
	directory = *
[init]
	defaultBranch = main
[color]
	ui = auto
