[user]
	name = Justin Tan
	email = raineedust@proton.me
[core]
	autocrlf = input
	eol = lf
	excludesfile = ~/.gitignore_global
[push]
	autoSetupRemote = true
[safe]
	directory = *
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
  # Rebase workflow
	mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
	synced = "!git pull origin $(git mainbranch) --rebase"
	update = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"
	squash = "!git rebase -v -i $(git mainbranch)"
	publish = push origin HEAD --force-with-lease
	pub = publish
	acom = !git add -A && git commit -m
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
