* {
  font-family: "Noto Sans", "Noto Serif", "JetBrains Mono" !important;
}

::selection {
  background: #008b8b;
}

body {
  font-size: 16px;
  text-align:justify;
  line-height: 1.5;
  margin-top:30px;
  margin-bottom:30px;
  margin-right:40px;
  margin-left:40px;
  line-spacing:1.8;
  text-indent:3em;
}

h1, h2, h3, h4, h5, h6 {
  text-align:center;
  font-style:italic;
  font-weight:bold;
}

/*For reference ONLY: Default Foliate themes*/

const defaultThemes = [
    {
        theme_name: _('Light'), dark_mode: false, invert: false,
        fg_color: '#000', bg_color: '#fff', link_color: 'blue',
    },
    {
        theme_name: _('Sepia'), dark_mode: false, invert: false,
        fg_color: '#5b4636', bg_color: '#efe7dd', link_color: 'darkcyan',
    },
    {
        theme_name: _('Gray'), dark_mode: true, invert: false,
        fg_color: '#ccc', bg_color: '#555', link_color: 'skyblue',
    },
    {
        theme_name: _('Dark'), dark_mode: true, invert: false,
        fg_color: '#ddd', bg_color: '#292929', link_color: 'cornflowerblue',
    },
    {
        theme_name: _('Invert'), dark_mode: true, invert: true,
        fg_color: '#fff', bg_color: '#000', link_color: 'cornflowerblue',
    },
    {
        theme_name: _('Solarized Light'), dark_mode: false, invert: false,
        fg_color: '#586e75', bg_color: '#fdf6e3', link_color: '#268bd2',
    },
    {
        theme_name: _('Solarized Dark'), dark_mode: true, invert: false,
        fg_color: '#93a1a1', bg_color: '#002b36', link_color: '#268bd2',
    },
    {
        theme_name: _('Gruvbox Light'), dark_mode: false, invert: false,
        fg_color: '#3c3836', bg_color: '#fbf1c7', link_color: '#076678',
    },
    {
        theme_name: _('Gruvbox Dark'), dark_mode: true, invert: false,
        fg_color: '#ebdbb2', bg_color: '#282828', link_color: '#83a598',
    },
    {
        theme_name: _('Nord'), dark_mode: true, invert: false,
        fg_color: '#d8dee9', bg_color: '#2e3440', link_color: '#88c0d0',
    }
]